In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

In [13]:
dataset = pd.read_csv("turkiye-student-evaluation_generic.csv", sep = ",", na_values=-200)
dataset

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
0,1,2,1,0,4,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,1,2,1,2,4,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
3,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,1,2,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815,3,13,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5816,3,13,1,3,4,4,4,4,4,4,...,5,5,5,5,4,5,5,5,5,5
5817,3,13,1,0,4,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
5818,3,13,1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5819,3,13,1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Выбираем любую группу, где студентов больше 300:

In [14]:
for i in range(1, 14): 
    print(i,':\t', len(dataset[dataset['class'] == i]), sep='')

1:	303
2:	140
3:	904
4:	187
5:	656
6:	558
7:	187
8:	500
9:	571
10:	448
11:	484
12:	41
13:	841

Пусть это будет группа 5:

In [19]:
data = dataset[dataset['class'] == 5]
data

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
3310,3,5,3,1,3,3,3,3,4,4,...,4,4,4,4,4,4,4,4,4,4
3311,3,5,2,1,3,2,4,3,3,4,...,3,4,4,4,2,3,4,3,3,4
3312,3,5,1,3,2,3,3,2,3,3,...,3,2,3,4,3,2,3,3,3,2
3313,3,5,2,3,5,1,1,1,1,1,...,1,1,1,1,1,1,4,1,1,1
3314,3,5,2,0,1,1,2,3,3,1,...,1,2,3,4,3,4,5,4,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3961,3,5,1,2,4,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3962,3,5,1,2,4,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2
3963,3,5,1,4,4,5,3,4,3,5,...,4,3,3,4,5,5,4,3,4,5
3964,3,5,1,1,2,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3965,3,5,1,3,3,3,3,4,4,4,...,2,4,4,4,4,4,4,4,3,4

Уберем ненужные параметры **instr** и **class** - они не меняются

In [26]:
data.drop('instr', axis=1)
data.drop('class', axis=1)

,instr,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,Q6,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
3310,3,3,1,3,3,3,3,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3311,3,2,1,3,2,4,3,3,4,5,...,3,4,4,4,2,3,4,3,3,4
3312,3,1,3,2,3,3,2,3,3,4,...,3,2,3,4,3,2,3,3,3,2
3313,3,2,3,5,1,1,1,1,1,1,...,1,1,1,1,1,1,4,1,1,1
3314,3,2,0,1,1,2,3,3,1,1,...,1,2,3,4,3,4,5,4,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3961,3,1,2,4,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3962,3,1,2,4,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2
3963,3,1,4,4,5,3,4,3,5,3,...,4,3,3,4,5,5,4,3,4,5
3964,3,1,1,2,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3965,3,1,3,3,3,3,4,4,4,4,...,2,4,4,4,4,4,4,4,3,4

 TODO: аномалия - строка 3313